{{#layout}} <!–– template layout.mustache kommer "dra in" nedanstånde html kod till sin body––>
                <h2 class="heading-sections">Admin</h2>

                <div class="main_content">

                    <form method="POST" action="/orreskogenskickers/loggainkontroll/">
                        <label>Användarnamn:</label>
                        <br>
                        <input type="text" name="username"><br><br>
                        <label>Lösenord:</label>
                        <br>
                        <input type="password" name="password" minlength="8"><br><br>
                        <button type="submit" class="form__button">Logga in</button>
                    </form>

                </div>
                <img src="/images/animal-1299089_1280.png" class="main_container__image">


{{/layout}}
{{>layout}}
