{{#layout}} <!–– template layout.mustache kommer "dra in" nedanstånde html kod till sin body––>

<h2 class="heading-sections">Administration</h2>

<div class="news">

Här

</div>
</div>


</div>

</div>
<img src="images/animal-1299089_1280.png" class="main_container__image">

{{/layout}}
{{>layout}}Q