{{#layout}}

            <h2 class="heading-sections">Admin</h2>

            <div class="main_content">

                <h3 class="admin_heading">Uppdatera en nyhet</h3><br>
                <div class="addnews__form">
                    <form method="POST" action="/orreskogenskickers/uppdateranyhet/">
                        <input type="hidden" name="newsId" value="{{news.newsId}}">
                        <p>Rubrik</p> <input type="text" name="heading" value="{{news.heading}}">
                        <p>Bild</p> <input type="text" name="picture" value="{{news.picture}}">
                        <p>Brödtext</p>
                        <textarea name="text" rows="25" cols="60">{{news.text}}</textarea><br>
                        <button type="submit" class="form__button">Uppdatera</button>
                    </form>
                </div>

            </div>
            <img src="/images/animal-1299089_1280.png" class="main_container__image">


{{/layout}}
{{>layout}}