{{#layout}} <!–– template layout.mustache kommer "dra in" nedanstånde html kod till sin body––>

<h2 class="heading-sections">Nyheter</h2>

<div class="main_content">


<p>Någonting gick snett. Försök igen.</p>

        <div class="news_item__headingfrontpage--button"><a href="/orreskogenskickers/">Gå till Hem</a></div>


</div>

<img src="/images/animal-1299089_1280.png" class="main_container__image">

{{/layout}}
{{>layout}}