{{#layout}} <!–– template layout.mustache kommer "dra in" nedanstånde html kod till sin body––>

<h2 class="heading-sections">Hem</h2>
<div class="main_content">

    <h3>Senaste nyheterna</h3>

    <div class="news_frontpage">

        {{#summarynews}}
            <div class="news_item">
                <h5 class="news_item__headingfrontpage">{{heading}}</h5>
                <p>Av: <a href="mailto: {{addedBy.email}}">{{addedBy.firstName}} {{addedBy.lastName}}</a> |
                    {{date}}</p>
                <div class="news_item__text2">{{text}}...
                </div>
                <div class="news_item__headingfrontpage--button"><a href="/orreskogenskickers/nyheter/{{newsId}}">Läs mer</a></div>
            </div>
        {{/summarynews}}

    </div>
</div>

</div>
<img src="images/animal-1299089_1280.png" class="main_container__image">


{{/layout}}
{{>layout}}