{{#layout}}

    <div class="main_content__wrapper">

        <h2 class="heading-sections">Medlemmar</h2>

        <div class="main_content">

            <div class="medlemmar_wrapper">

                <div class="medlem_card">

                    <div class="medlem_card__left">
                        <img src="../images/img_avatar1.png" class="medlem__bild">
                    </div>
                    <div class="medlem_card__right">
                        <h3 class="medlem_card__header">Sture "pangaren" Knutsson</h3>
                        <ul class="medlem_card__ul">
                            <li class="medlem_card__li">Medlemsnr: 123</li>
                            <li class="medlem_card__li">Medlem sen: 15-10-11</li>
                            <li class="medlem_card__li">Favoritvapen: Gevär</li>
                            <li class="medlem_card__li">Hundägare: Ja</li>
                            <li class="medlem_card__li">Citat: "Här var det livat!"</li>
                        </ul>
                    </div>

                </div>

                <div class="medlem_card">

                    <div class="medlem_card__left">
                        <img src="../images/img_avatar1.png" class="medlem__bild">
                    </div>
                    <div class="medlem_card__right">
                        <h3 class="medlem_card__header">Mange Svenne</h3>
                        <ul class="medlem_card__ul">
                            <li class="medlem_card__li">Medlemsnr: 123</li>
                            <li class="medlem_card__li">Medlem sen: 15-10-11</li>
                            <li class="medlem_card__li">Favoritvapen: Gevär</li>
                            <li class="medlem_card__li">Hundägare: Ja</li>
                            <li class="medlem_card__li">Citat: "Här var det livat!"</li>
                        </ul>
                    </div>

                </div>

                <div class="medlem_card">

                    <div class="medlem_card__left">
                        <img src="../images/img_avatar1.png" class="medlem__bild">
                    </div>
                    <div class="medlem_card__right">
                        <h3 class="medlem_card__header">Mange Svenne</h3>
                        <ul class="medlem_card__ul">
                            <li class="medlem_card__li">Medlemsnr: 123</li>
                            <li class="medlem_card__li">Medlem sen: 15-10-11</li>
                            <li class="medlem_card__li">Favoritvapen: Gevär</li>
                            <li class="medlem_card__li">Hundägare: Ja</li>
                            <li class="medlem_card__li">Citat: "Här var det livat!"</li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="medlem_card">

                <div class="medlem_card__left">
                    <img src="../images/img_avatar1.png" class="medlem__bild">
                </div>
                <div class="medlem_card__right">
                    <h3 class="medlem_card__header">Mange Svenne</h3>
                    <ul class="medlem_card__ul">
                        <li class="medlem_card__li">Medlemsnr: 123</li>
                        <li class="medlem_card__li">Medlem sen: 15-10-11</li>
                        <li class="medlem_card__li">Favoritvapen: Gevär</li>
                        <li class="medlem_card__li">Hundägare: Ja</li>
                        <li class="medlem_card__li">Citat: "Här var det livat!"</li>
                    </ul>
                </div>

            </div>

        </div>
        <img src="../images/animal-1299089_1280.png" class="main_container__image">
    </div>

{{/layout}}
{{>layout}}